@model CMSBAL.User.Models.ChangePasswordVM
@{
    Layout = "_LayoutLogin";
}
<h4 class="font-size-18 text-muted mt-2 text-center">Update Password</h4>
<form class="form-horizontal" asp-area="" asp-controller="Home" asp-action="UpdatePassword">
    <div class="row">
        <div class="col-md-12">
            <div class="mb-4">
                <label class="form-label" for="username">Old Password</label>
                <input type="password" asp-for="stOldPassword" class="form-control" id="username" placeholder="Enter old password">
                <span asp-validation-for="stOldPassword" class="text-danger"></span>
            </div>
            <div class="mb-4">
                <label class="form-label" for="userpassword">New Password</label>
                <input asp-for="stNewPassword" type="password" class="form-control" id="userpassword" placeholder="Enter new password">
                <span asp-validation-for="stNewPassword" class="text-danger"></span>
            </div>
            <div class="mb-4">
                <label class="form-label" for="userpassword">Confirm New Password</label>
                <input asp-for="stNewPasswordConfirm" type="password" class="form-control" id="userpassword" placeholder="Enter confirm new password">
                <span asp-validation-for="stNewPasswordConfirm" class="text-danger"></span>
            </div>
@*            <div class="row">
                <div class="col">
                    <div class="form-check">
                        <a asp-area="" asp-controller="Home" asp-action="SignUp" class="text-muted"><i class="fa fa-sign"></i> SignUp </a>
                    </div>
                </div>
                <div class="col-7">
                    <div class="text-md-end mt-3 mt-md-0">
                        <a href="auth-recoverpw.html" class="text-muted"><i class="mdi mdi-lock"></i> Forgot your password?</a>
                    </div>
                </div>
            </div>*@
            <div class="d-grid mt-4">
                <button class="btn btn-danger waves-effect waves-light" type="submit">Update Password</button>
            </div>
            <div class="d-grid mt-4">
                <a class="btn btn-primary" onclick="history.back()" style="float: right;">Cancel</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
}
